{
  "gtfs_file": {
    "url": "ftp://gtfs.mot.gov.il/israel-public-transportation.zip",
    "local_name": "israel-public-transportation.zip"
  },
  "tariff_file": {
    "url": "ftp://gtfs.mot.gov.il/Tariff.zip",
    "local_name": "Tariff.zip"
  },
  "cluster_file": {
    "url": "ftp://gtfs.mot.gov.il/ClusterToLine.zip",
    "local_name": "ClusterToLine.zip"
  },
  "trip_id_to_date_file": {
    "url": "ftp://gtfs.mot.gov.il/TripIdToDate.zip",
    "local_name": "TripIdToDate.zip"
  },
  "download_retries_delay": [30, 60, 120]
}